<div class="mx-auto max-w-screen-lg">
  <h1 class="text-center text-3xl font-bold mb-8">New food</h1>
  <%= render "form", food: @food %>
  <div class="flex justify-center mt-8">
    <%= link_to "Back to foods", foods_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4' %>
    <%= link_to "Cancel", foods_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>