<div class="bg-white shadow-md rounded my-6 p-6">
  <% if @recipe_food %>
    <%= render @recipe_food %>
  <% else %>
    <p>This food item has not been used in any recipes yet</p>
  <% end %>

  <div class="mt-4">
    <%= link_to "Edit this recipe food", edit_food_path(@ingredient), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4' %>
    <%= link_to "Back to recipe foods", recipe_foods_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-4' %>
  </div>
</div>