<div class="bg-white shadow-md rounded my-4">
  <div class="px-6 py-4">
    <p class="font-bold text-lg mb-2">Recipe Food:</p>

    <p>
      <strong>Recipe:</strong>
      <%= Recipe.find_by(id: recipe_food.recipe_id).name %>
    </p>

    <p>
      <strong>Food:</strong>
      <%= Food.find_by(id: recipe_food.food_id).name  %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= recipe_food.quantity %>
    </p>
  </div>
</div>